/* Bulma installed */
@import "~bulma/bulma.sass";

header {
  padding-top: 1%;
}

body {
  /* background-color: rgb(4, 4, 66); */
  background-color: black;
  margin-left: 2%;
}

h1,
h2,
p,
ul {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 30px;
}

.slogan {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  color: rgb(192, 19, 19);
}

p {
  font-family: 'Pathway Extreme', sans-serif;
  text-align: center;
}

.technologies {
  font-family: 'Secular One', sans-serif;
  /* text-align: justify; */
}

.applications {
  font-family: 'Pathway Extreme', sans-serif;
  text-align: left;
}


.address {
  overflow: hidden;
  white-space: nowrap;
}

.back-services {
  font-family: 'Rajdhani', sans-serif;
  /* color: rgb(130, 120, 120); */
  color: rgb(129, 120, 120);
  /* color: rgb(93, 90, 90); */
  /* color: rgb(110, 101, 101); */
  font-size: 23px;
}